name: CI

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Clean install dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install

      - name: Run type check
        run: npm run type-check

      - name: Run lint
        run: npm run lint

      - name: Build library
        run: npm run build

      - name: Build Storybook
        run: npm run build-storybook
